aiohappyeyeballs
aiohttp
aiosignal
alabaster
annotated-types
anyio
appnope
arrow
asgiref
asttokens
attrs
Automat
babel
backoff
bcrypt
beautifulsoup4
bibtexparser
bitarray
black
blinker
build
cachetools
catalogue
certifi
cffi
charset-normalizer
Chroma
chroma-hnswlib
chromadb
click
Colbert
colbert-ai
coloredlogs
comm
commonmark
constantly
contourpy
coverage
cryptography
cssselect
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash_cytoscape
dataclasses-json
datasets
DateTime
debugpy
decorator
defusedxml
Deprecated
dill
dirtyjson
distro
docutils
durationpy
eralchemy
executing
faiss-cpu
fake-useragent
fast-pytorch-kmeans
fastapi
filelock
filetype
flake8
Flask
flatbuffers
fonttools
free_proxy
frozenlist
fsspec
genson
ggshield
git-python
gitdb
GitPython
google-auth
googleapis-common-protos
graphviz
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperlink
icalendar
idna
imagesize
importlib_metadata
importlib_resources
incremental
iniconfig
ipykernel
ipython
ipywidgets
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
jmespath
joblib
jsonpatch
jsonpickle
jsonpointer
jupyter_client
jupyter_core
jupyterlab_widgets
keyring
kiwisolver
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-text-splitters
langsmith
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
lxml
MarkupSafe
marshmallow
marshmallow-dataclass
matplotlib
matplotlib-inline
mccabe
memoized-property
mmh3
monotonic
more-itertools
mpmath
multidict
multiprocess
mypy-extensions
mysql-connector-python
nest-asyncio
networkx
nh3
ninja
nltk
numpy
oauthlib
onnx
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
outcome
overrides
packaging
pandas
parsel
parso
pathspec
pexpect
pillow
pkginfo
platformdirs
plotly
pluggy
posthog
prompt_toolkit
propcache
Protego
protobuf
psutil
psycopg2-binary
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pyflakes
pygitguardian
Pygments
PyJWT
pynvml
pyOpenSSL
pyparsing
pypdf
PyPika
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQtWebEngine
PyQtWebEngine-Qt5
PySocks
pytest
python-dateutil
python-dotenv
pytz
pyvis
PyYAML
pyzmq
queuelib
RAGatouille
readme_renderer
regex
requests
requests-file
requests-oauthlib
requests-toolbelt
retrying
rfc3986
rich
rsa
safetensors
scholarly
scikit-learn
scipy
Scrapy
scrapy-GUI
scrapy-splash
scrapy-user-agents
selenium
sentence-transformers
service-identity
setuptools
shellingham
six
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
srsly
stack-data
starlette
striprtf
sympy
tenacity
termcolor
threadpoolctl
tiktoken
tldextract
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
twine
Twisted
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
ua-parser
ujson
urllib3
user-agents
uvicorn
uvloop
voyager
w3lib
watchfiles
wcwidth
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
wsproto
xxhash
yapf
yarl
zipp
zope.interface
mplcursors
dash_bootstrap_components